######################
# OS
######################
.DS_Store
Thumbs.db

######################
# Python
######################
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Packaging / build
build/
dist/
*.egg-info/
.eggs/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

######################
# Env / secrets
######################
.env
.env.*
!.env.example

######################
# Logs
######################
*.log

######################
# IntelliJ / PyCharm
######################
.idea/
*.iml

######################
# Docker
######################
docker-compose.override.yml
*.pid


